@font-face {
  font-family: "MiSansLight";
  src: url("@/assets/fonts/MiSans-Light-latin.woff2") format("woff2");
  font-weight: 250;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSansNormal";
  src: url("@/assets/fonts/MiSans-Normal-latin.woff2") format("woff2");
  font-weight: 305;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSansRegular";
  src: url("@/assets/fonts/MiSans-Regular-latin.woff2") format("woff2");
  font-weight: 330;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSansMedium";
  src: url("@/assets/fonts/MiSans-Medium-latin.woff2") format("woff2");
  font-weight: 380;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSansBold";
  src: url("@/assets/fonts/MiSans-Semibold-latin.woff2") format("woff2");
  font-weight: 520;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "SourceHanSansSC-Bold";
  src: url("@/assets/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSansSC-Light";
  src: url("@/assets/fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSansSC-Medium";
  src: url("@/assets/fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSansSC-Normal";
  src: url("@/assets/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSansSC-Regular";
  src: url("@/assets/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-miLight {
  font-family: "MiSansLight", sans-serif;
}

.font-miNormal {
  font-family: "MiSansNormal", sans-serif;
}

.font-miRegular {
  font-family: "MiSansRegular", sans-serif;
}

.font-miMedium {
  font-family: "MiSansMedium", sans-serif;
}

.font-miBold {
  font-family: "MiSansBold", sans-serif;
}

body {
  font-family: "MiSansNormal", sans-serif;
}

@font-face {
  font-family: "MiSans";
  src: url("@/assets/fonts/MiSans-Light-latin.woff2") format("woff2");
  font-weight: 250;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSans";
  src: url("@/assets/fonts/MiSans-Normal-latin.woff2") format("woff2");
  font-weight: 305;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSans";
  src: url("@/assets/fonts/MiSans-Regular-latin.woff2") format("woff2");
  font-weight: 330;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSans";
  src: url("@/assets/fonts/MiSans-Medium-latin.woff2") format("woff2");
  font-weight: 380;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

@font-face {
  font-family: "MiSans";
  src: url("@/assets/fonts/MiSans-Semibold-latin.woff2") format("woff2");
  font-weight: 520;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F, U+0180-024F, U+2000-206F, U+20A0-20CF, U+2122, U+2190-21FF, U+2212, U+25A0-25FF;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-interLight {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
.font-interSemiRegular {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-interRegular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.font-interMedium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.font-interSemiBold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.font-interBold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
